.body {
  display: flex;
  margin: 0;
  font-family: Comic, sans-serif;
  color: $text;
  flex-direction: column;
  align-items: center;
  background: url("../img/стол.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  .body__page {
    box-sizing: border-box;
    min-width: $razmer;
    height: 1.5 * $razmer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid tomato;
    background: $bgColor;

    @media (min-width: 640px) {
      width: 2 * $razmer;
      height: 100vh;
    }
  }
}
